Package: moksha-module-news
Version: 0.1.2-1
Architecture: amd64
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Installed-Size: 4163
Depends: libc6 (>= 2.14), libefl (>= 1.15.0), moksha
Section: utils
Priority: optional
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Description: News Module for Moksha
 Moksha Gadget to monitor RSS feeds.
