[Desktop Entry]
Type=Link
Name=Photo
Name[be]=Фота
Name[cs]=Fotorámik
Name[de]=Foto
Name[el]=Φωτογραφίες
Name[eo]=Fotoj
Name[es]=Foto
Name[gl]=Foto
Name[hu]=Fénykép
Name[pt]=Foto
Name[ru]=Фото
Name[sk]=Foto
Exec=enlightenment
StartupNotify=false
X-Enlightenment-WaitExit=false
X-Enlightenment-IconClass=photo,gadget
X-Enlightenment-ModuleType=utils
Icon=e-module-photo
Comment=View photos or a mini slideshow within this gadget.
Comment[be]=Прагляд фотаздымкаў або мініяцюрнага слайд-шоў у гэтым гаджэце.
Comment[cs]=Zobrazí fotky jako malou slideshow uvnitř gadgetu.
Comment[de]=Fotos oder eine kleine Diaschau innerhalb eines Helfers betrachten.
Comment[el]=Προβολή φωτογραφιών ή ενός μικρού σλάιντ μέσα σε αυτό το συστατικό.
Comment[eo]=Vidigi fotojn aŭ malgrandan bildoprezenton ene de tiu vanaĵo.
Comment[es]=Módulo para visualizar sus fotos o una presentación.
Comment[fr]=Permet d'afficher des photos ou un mini diaporama à l'intérieur même du gadget.
Comment[gl]=Módulo para visualizar as súas fotos ou unha presentación.
Comment[hu]=Fényképeket nézhetünk a munkaasztalunkon egy mini diavetítés formájában.
Comment[it]=Guarda le tue foto o un mini slideshow con questo modulo.
Comment[pt]=Veja fotografias ou um mini diapositivo dentro do próprio gadget.
Comment[ru]=Показывает мини слайд-шоу из фото внутри этого гаджета.
Comment[sk]=Zobrazí fotky ako prezentáciu v miniatúre na obrazovke.
