*.ddeb
*.buildinfo
*.changes
*.deb
*/*.edj
*/*.spec
*/ABOUT-NLS
*/Makefile
*/Makefile.in
*/aclocal.m4
*/autom4te.cache/
*/compile
*/config.guess
*/config.h
*/config.h.in
*/config.log
*/config.rpath
*/config.status
*/config.sub
*/configure
*/depcomp
*/install-sh
*/libtool
*/ltmain.sh
*/missing
*/INSTALL
*/mkinstalldirs
*/module.desktop
*/debian/.debhelper/
*/debian/autoreconf.after
*/debian/autoreconf.before
*/debian/debhelper-build-stamp
*/debian/*.substvars
*/m4/*
*/po/*.gmo
*/po/Makefile
*/po/Makefile.in
*/po/Makefile.in.in
*/po/Makevars.template
*/po/POTFILES
*/po/Rules-quot
*/po/*.pot
*/po/boldquot.sed
*/po/en@boldquot.header
*/po/en@quot.header
*/po/insert-header.sin
*/po/quot.sed
*/po/remove-potcdate.sin
*/po/stamp-po
*/stamp-h1
*/src/.libs/
*/src/*.la
*/src/*.lo
*/src/*.in
*/src/*.o
*/src/Makefile
alarm/debian/moksha-module-alarm/
