[Desktop Entry]
Type=Link
Name=Net
Name[be]=Сетка
Name[cs]=Síť
Name[el]=Δίκτυο
Name[eo]=Reto
Name[fr]=Réseau
Name[hu]=Hálózat
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Icon=e-module-net
X-Enlightenment-ModuleType=system
Comment=Network interface monitor.
Comment[be]=Манітор сеткавага інтэрфейсу.
Comment[cs]=Monitoruje síťové připojení.
Comment[el]=Παρακολούθηση του δικτύου.
Comment[eo]=Elrigardi la retan interfacon.
Comment[fr]=Moniteur réseau.
Comment[hu]=A hálózatot követhetjük nyomon (feltöltés/letöltés sebessége)a modullal.
Comment[it]=Monitor delle interfacce di rete.
Comment[pt]=Módulo para monitorizar as interfaces de rede.
Comment[pt_BR]=Módulo para monitorar as interfaces de rede.
Comment[ru]=Монитор сетевого интерфейса.
Comment[sk]=Monitoruje sieťové pripojenie.

