[Desktop Entry]
Type=Link
Name=Wallscape
Name[ca]=
Name[cs]=Wallscape
Name[eo]=
Name[es]=
Name[fr]=Murale
Name[gl]=
Name[hi]=
Name[hu]=
Name[it]=Wallscape
Name[ka]=
Name[mr]=
Name[pl]=Wallscape
Name[pt]=Mural
Name[pt_BR]=Mural
Name[ru]=
Name[sk]=Wallscape
Name[tr]=
Comment=An alternative way to pick a wallpaper.
Comment[ca]=
Comment[cs]=Alternativní nástroj pro nastavení tapety.
Comment[eo]=
Comment[es]=
Comment[fr]=Une autre façon de choisir un fond d'écran.
Comment[gl]=
Comment[hi]=
Comment[hu]=
Comment[it]=Un modo alternativo per scegliere lo sfondo.
Comment[ka]=
Comment[mr]=
Comment[pl]=Alternatywny sposób na wybór tapety.
Comment[pt]=Uma forma alternativa de escolher um papel de parede.
Comment[pt_BR]=Uma forma alternativa de escolher um papel de parede.
Comment[ru]=
Comment[sk]=Alternatívny nástroj pre nastavenie tapety.
Comment[tr]=
Icon=e-module-wallscape
X-Enlightenment-ModuleType=look
