[Desktop Entry]
Type=Link
Name=Rain
Name[be]=Дождж
Name[cs]=Déšť
Name[de]=Regen
Name[el]=Βροχή
Name[eo]=Pluvo
Name[hu]=Nyári Zápor
Name[fr]=Pluie
Name[pt]=Chuva
Name[pt_BR]=Chuva
Name[sk]=Dážď
Name[ru]=Дождь
Icon=e-module-rain
X-Enlightenment-ModuleType=look
Comment=Module to display rain on the desktop.
Comment[be]=Модуль для паказу дажджу на працоўным стале.
Comment[cs]=Zobrazí déšť na ploše.
Comment[de]=Regen auf dem Desktop.
Comment[el]=Άρθρωμα που εμφανίζει βροχή στην επιφάνεια εργασίας.
Comment[eo]=Vidigi pluvon sur la labortablo.
Comment[hu]=Nyári záporral áztathatjuk a munkaasztalunkat.
Comment[it]=Modulo per visualizzare la pioggia sul desktop.
Comment[fr]=Un module montrant de la pluie sur le bureau.
Comment[pt]=Módulo que exibe chuva na área de trabalho.
Comment[pt_BR]=Módulo que exibe chuva na Área de Trabalho.
Comment[ru]=Модуль для показа дождя на рабочем столе.
Comment[sk]=Zobrazí dažďové kvapky na ploche.
