Source: moksha-module-trash
Section: utils
Priority: optional
Maintainer: the_waiter <thewaiter@centrum.sk>
Build-Depends: debhelper (>= 10), cdbs, autotools-dev, pkg-config, libefl-dev, moksha
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-trash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Trash module for Moksha desktop
 A trash module for enlightenment that use efreet
