[Desktop Entry]
Type=Link
Name=Winselector
Name[be]=Выбар акна
Name[cs]=Výběr oken
Name[el]=Επιλογέας Παραθύρων
Name[eo]=Fenestro-elektilo
Name[es]=Selector de ventanas
Name[fr]=Sélecteur
Name[gl]=Selector de xanelas
Name[hu]=Ablak választó
Name[pt]=Seletor de janelas
Name[pt_BR]=Seletor de Janelas
Name[sk]=Výber okien
Name[ru]=Выбор окна
Icon=e-module-winselector
X-Enlightenment-ModuleType=utils
Comment=This module provides a menu-based access to all the windows.
Comment[be]=Гэты модуль адкрывае доступ да ўсіх вокнаў праз меню.
Comment[cs]=Modul poskytující menu-přístup ke všem oknům.
Comment[el]=Το συστατικό αυτό παρέχει πρόσβαση σε όλα τα παράθυρα μέσω ενός μενού.
Comment[eo]=Provizi aliron al ĉiuj fenestroj per menuo.
Comment[es]=Este módulo proporciona un acceso a todas las ventanas a través de un menú.
Comment[fr]=Ce module donne accès à toutes les fenêtres via un menu.
Comment[it]=Questo modulo fornisce accesso a tutte le finestre tramite menù.
Comment[gl]=Este módulo proporciona un acceso a tódalas xanelas a través dun menú.
Comment[hu]=Ez a modul elérhetõséget biztosít számunkra az összes megnyitott ablakhoz, amelyeket egy listába rendez.
Comment[pt]=Módulo que disponibiliza o acesso a um menu com todas as janelas.
Comment[pt_BR]=Módulo que disponibiliza o acesso a um menu com todas as janelas.
Comment[sk]=Modul poskytuje prístup ku všetkým oknám cez menu.
Comment[ru]=Модуль предоставляет доступ ко всем открытым окнам.





