Package: moksha-module-engage-dbgsym
Package-Type: ddeb
Source: moksha-module-engage
Version: 20201128bodhi1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Installed-Size: 328
Depends: moksha-module-engage (= 20201128bodhi1-1)
Section: debug
Priority: optional
Description: debug symbols for moksha-module-engage
Build-Ids: 4a16b3a7917cdf014de0ba32d043607863af9b96
