[Desktop Entry]
Type=Link
Name=Slideshow
Name[cs]=Prezentace
Name[de]=Diaschau
Name[el]=Προβολή Σλάιντ
Name[eo]=Bildoprezentado
Name[es]=Diapositivas
Name[fr]=Diaporama
Name[gl]=Diapositivas
Name[hu]=Diavetítés
Name[pt]=Apresentação
Name[pt_BR]=Apresentação
Name[ru]=Слайдоскоп
Name[sk]=Prezentácia
Icon=e-module-slideshow
X-Enlightenment-ModuleType=look
Comment=Turns your desktop background into a slideshow.
Comment[cs]=Přemění pozadí plochy na prezentaci.
Comment[de]=Verwandelt den Desktop-Hintergrund in eine Diaschau.
Comment[el]=Μετατρέπει την ταπετσαρία σας σε μια προβολή σλάιντ.
Comment[eo]=Aliformi la labortablan tapeton en bildoprezentado.
Comment[es]=Transforma su fondo de escritorio en una presentación de diapositivas.
Comment[fr]=Transforme votre fond d'écran en diaporama.
Comment[gl]=Transforma o seu fondo de escritorio nunha presentación de diapositivas.
Comment[hu]=A munkaasztal háttérképeit váltogatja, megadott időközönként, mint egy diavetítő.
Comment[it]=Trasforma lo sfondo del vostro desktop in uno slideshow.
Comment[pt]=Módulo que altera as imagens de fundo tal como numa apresentação.
Comment[pt]=Módulo para alterar as imagens de fundo tal como numa apresentação.
Comment[ru]=Превращает фон рабочего стола в слайдоскоп.
Comment[sk]=Pozadie plochy zmení na prezentáciu.
