[Desktop Entry]
Type=Link
Name=Mem
Name[be]=Памяць
Name[el]=Μνήμη
Name[eo]=Memoro
Name[fr]=Mémoire
Name[hu]=Memória
Name[pt]=Memória
Name[pt_BR]=Memória
Name[ru]=Память
Icon=e-module-mem
X-Enlightenment-ModuleType=system
Comment=Used to monitor memory utilization.
Comment[be]=Выкарыстоўваецца для маніторынгу размеркавання памяці.
Comment[cs]=Zobrazí využití paměti.
Comment[el]=Χρησιμοποιείται για την παρατήρηση της μνήμης.
Comment[eo]=Elrigardi la uzadon de memoro.
Comment[fr]=Affiche l'utilisation de la mémoire.
Comment[hu]=A fizikai memória foglaltságát jelzi ki.
Comment[it]=Usato per il monitoraggio dell'utilizzo della memoria.
Comment[pt]=Utilizado para monitorizar a memória utilizada.
Comment[pt_BR]=Módulo para monitorar a memória utilizada.
Comment[ru]=Используется для мониторинга использования памяти.
Comment[sk]=Zobrazí využiie pamäte.

