[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Share
Name[Name]=Share
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=Kunhavigi
Name[es]=
Name[fr]=Partager
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=
Name[ru]=
Name[sr]=
Name[tr]=
Comment=Gadget that shares your clipboard content online and puts a link to it into your clipboard
Comment[eo]=Akcesoraĵo kiu kunhavigas vian tondejan enhavon rete kaj metas ligilon en vian tondejon.
Icon=e-module-share
X-Enlightenment-ModuleType=utils
