Source: moksha-module-winselector
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libefl-dev, moksha
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-winselector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description:  Winselector Module for Moksha
 This gadget provides a menu-based access to all the windows.
