Source: engage
Section: unknown
Priority: optional
Maintainer: root <Jeff Hoogland <jeffhoogland@linux.com>>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/engage.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/engage.git;a=summary

Package: engage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Engage Moksha Module
 OSX style application launcher for the Moksha desktop
