[Desktop Entry]
Type=Link
Name=Cpu
Name[be]=Працэсар
Name[cs]=CPU
Name[de]=Prozessor
Name[el]=Επεξεργαστής
Name[eo]=Ĉeforgano
Name[hu]=Processzor
Name[pt]=Processador
Name[pt_BR]=Processador
Name[ru]=Процессор
Name[sk]=CPU
Name[zh_CN]=CPU 工具
Icon=e-module-cpu
X-Enlightenment-ModuleType=system
Comment=Used to monitor CPU utilization.
Comment[be]=Адлюстроўвае загрузку цэнтральнага працэсара.
Comment[cs]=Použití k měření vytížení CPU.
Comment[de]=Prozessorauslastung visualisieren
Comment[el]=Για την παρατήρηση της δραστηριότητας του επεξεργαστή.
Comment[eo]=Elrigardi la uzadon de la ĉeforgano.
Comment[fr]=Affiche l'utilisation du CPU.
Comment[hu]=A processzor monitorozására (felügyeletére) használható modul.
Comment[it]=Usato per monitorare l'utilizzo della CPU.
Comment[pt]=Módulo para monitorizar o processador(CPU).
Comment[pt_BR]=Módulo para monitorar o processador (CPU).
Comment[ru]=Показывает текущую нагрузку на ЦПУ.
Comment[sk]=Modul pre monitorovanie zaťaženia procesora.
Comment[zh_CN]=用以监视 CPU 使用情况。
